body {
    padding-top: 20px;
    background: #EDEDED;
}

.thumbnail {
    -webkit-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
}

.thumbnail > .body {
    padding: 20px 10px;
}

.thumbnail > .caption {
    margin: 0px;
    border-top: 2px solid #3A75BB;
    color: #5A5A5A;
}

.thumbnail > .caption h4 {
    display: inline;
}

.thumbnail > .caption button {
    margin-left: 5px;
    color: #5A5A5A;
}

.capitalize {
    text-transform: capitalize;
}

#qrcode img {
    display: inline !important;
    margin: 10px;
}

.animated-show-hide {
    animation: bounceInDown 0.5s;
}

.animated-show-hide.ng-hide {
    animation: bounceOutUp 1s;
}

.icon-holder {
    width: 178px;
    height: 178px;
    margin: 0 auto;
    border-radius: 18px;
}

.icon-holder i {
    line-height: 178px;
    font-size: 8em;
}

.icon-holder.red {
    background-color: #CC2127;
}

.icon-holder.green {
    background-color: #0BAC4C;
}
