<html ng-app="dummyBool">
  <head>
    <title>DUO IDM IBool W</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="/static/css/style.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>

    <script src="/static/js/qrcode.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>

  <body>
    <div class="container" ng-controller="MainCtrl">

      <div class="row">
	<div class="col-sm-offset-3 col-sm-6
		    col-sm-offset-3 col-md-4">
	  <div class="thumbnail">
	    <div class="body text-center">
	      <div class="icon-holder"
		   ng-class="state ? 'green' : 'red'"
		   ng-click="on_toggle_state()">
		<i class="fa fa-inverse" ng-class="'fa-' + icon"></i>
	      </div>
	    </div>
	    <div class="caption">
	      <div>
		<h4>IDM Address: <b>[[ address ]]</b></h4>
		<button class="btn btn-default btn-xs pull-right" title="Show QR code"
			ng-click="show_qr = !show_qr">
		  <i class="fa fa-fw fa-qrcode text-primary"></i></button>
		<button class="btn btn-default btn-xs pull-right" title="Toggle state"
			ng-click="on_toggle_state()">
		  <i class="fa fa-fw text-primary"
		     ng-class="state ? 'fa-toggle-on' : 'fa-toggle-off'"></i></button>
	      </div>
	      Observer: <b>[[ observer ]]</b> |
	      State: <b class="capitalize">[[ state ]]</b>
	    </div>
	  </div>
	</div>
      </div>

      <div class="row animated-show-hide" ng-show="show_qr">
	<div class="col-sm-offset-3 col-sm-6
		    col-sm-offset-3 col-md-4">
	  <div id="qrcode" class="thumbnail text-center"></div>
	</div>
      </div>

    </div>
  </body>
</html>

<!-- Local Variables: -->
<!--   coding: utf-8 -->
<!--   truncate-lines: true -->
<!-- End: -->
